<div class="container-fluid py-3 pt-5">
  <br>
  <!--Genres-->
  <h1>{{'RECOMMENDATION_GENRE_CHOOSER_HEADER' | translate}}.</h1>
  <br>
  <div class="row">
    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12" *ngFor="let genre of genres">
      <h4 class="clickable-header" [class.clicked-header]="genreId == genre.id" (click)="getMostPopularMoviesByGenre(genre.id)">
       {{ genre.name}}

      </h4>
    </div>
  </div>
  <br>
  <!--Movies by genre-->
  <div class="position-relative" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div class="row card-group">
    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12" *ngFor="let movie of moviesByGenre">
      <div class="card clickable-card mx-4 py-3" [routerLink]="['/movie']"
           [queryParams]="{movieId: movie.id}">
        <h3>{{ movie.title}}</h3>
        <div class="text-center">
          <img src="https://image.tmdb.org/t/p/w400/{{movie.poster_path}}">
        </div>
      </div>
    </div>
  </div>
  <br>
  <!--List of popular movies-->
  <h1>{{'RECOMMENDATION_GENERAL_POPULAR_MOVIES_HEADER' | translate}}.</h1>
  <br>
  <div class="row card-group">
    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12" *ngFor="let movie of movies">
      <div class="card clickable-card mx-4 py-3" [routerLink]="['/movie']"
           [queryParams]="{movieId: movie.id}">
        <h3>{{ movie.title}}</h3>
        <div class="text-center">
          <img src="https://image.tmdb.org/t/p/w400/{{movie.poster_path}}">
        </div>
      </div>
    </div>
  </div>
</div>
