<div class="container-fluid py-3 pt-5">
  <!--Choose a searching option-->
  <div class="row">
    <div class="col-12 text-center">
      <input type="radio" name="radio" id="radioId" (click)="changeOption(SearchOption.Id)">
        <label for="radioId">{{ 'SEARCH_BY_ID' | translate }}</label>
      <input type="radio" name="radio" id="radioText" (click)="changeOption(SearchOption.Text)" checked>
        <label for="radioText">{{ 'SEARCH_BY_TEXT' | translate }}</label>
    </div>
  </div>
  <br>
  <!--Searchbar-->
   <div class="row">
     <div class="col-12 text-center" [ngSwitch]="option">
       <div *ngSwitchCase="SearchOption.Id">
         <label for="movieSearchById">{{ 'SEARCH_BY_ID' | translate }}</label>
         <input type="number" id="movieSearchById" name="movieSearchById"
                [(ngModel)]="movieId" (click)="getById()" (change)="getById()" autofocus/>
       </div>
       <div *ngSwitchCase="SearchOption.Text">
         <label for="movieSearchByText">{{ 'SEARCH_BY_TEXT' | translate }}</label>
         <input type="text" id="movieSearchByText" name="movieSearchByText"
                [(ngModel)]="search" (click)="getByText()" (change)="getByText()" autofocus/>
       </div>
     </div>
   </div>
  <br>
<!--List of movies-->
  <div class="position-relative" *ngIf="isLoading">
    <app-loading></app-loading>
  </div>
  <div class="row card-group">
    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12" *ngFor="let movie of movies">
      <div class="card clickable-card mx-4 py-3" (click)="details(movie)">
        <h3>{{ movie.title }}</h3>
        <div class="text-center">
          <img src="https://image.tmdb.org/t/p/w400/{{movie.poster_path}}">
        </div>
      </div>
    </div>
  </div>
</div>
