<div class="container-fluid py-3" *ngIf="series">
  <div class="row">
    <div class="col-12 text-center">
      <h1>{{series.name}}</h1>
      <div class="text-center">
        <img src="https://image.tmdb.org/t/p/w400/{{series.poster_path}}">
      </div>
      <br>
      <div>
        <p><b>Overview:</b> {{series.overview}}</p>
        <p><b>Country:</b> {{series.origin_country}}</p>
        <p><b>Language:</b> {{series.original_language}}</p>
        <p><b>Popularity:</b> {{series.popularity}}</p>
        <p><b>Avarage vote:</b> {{series.vote_average}}</p>
        <p><b>Seasons:</b></p>
        <div class="row card-group">
          <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12" *ngFor="let season of series.seasons">
            <div class="card clickable-card mx-4 py-3">
              <h3>{{ season.season_number }}.</h3>
              <h4>{{ season.air_date }}</h4>
              <p>Number of episodes: {{ season.episode_count }}</p>
              <div class="text-center">
                <img class="season-img" src="https://image.tmdb.org/t/p/w400/{{season.poster_path}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
