<div class="container-fluid py-3 pt-5">
  <!--Searchbar-->
  <br>
  <div clas="row">
    <div class="col-12 text-center">
      <label for="PerformerSearchByText">Search by text</label>
      <input type="text" id="PerformerSearchByText" name="PerformerSearchByText"
             [(ngModel)]="search" (click)="getByText()" (change)="getByText()"autofocus/>
      </div>
    </div>
  <br>
  <!--List of performers-->
  <div class="row card-group">
    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12" *ngFor="let performer of performers">
      <div class="card card-movie mx-4 py-3" (click)="details(performer)">
        <h3>{{ performer.name }}</h3>
        <div class="text-center">
          <img src="https://image.tmdb.org/t/p/w400/{{performer.profile_path}}">
        </div>
      </div>
    </div>
  </div>
</div>
