/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

h3{
  text-align: center;
}

img{
  width : 400px;
  height: 600px;
}

